.explanation{
    .about_pic {
        text-align: center;
    }

   .button_about1{
         img{
            position: relative;
            left: 30%;
            top: 88px;
        }
    }

    .button_about2{
        img{
            position: relative;
            left: 60%;
            bottom: 4px;
       }
    }
}