.explanation{
    .card1{
        box-shadow:  8px 8px 60px $mainShadowColor;
        width: 30%;
    }
    .card2{
        box-shadow:  8px 8px 60px $mainShadowColor;
        width: 35%;
        bottom: 385px;
    }
    .about_pic {
        text-align: center;
    }

   .button_about1{
         img{
            position: relative;
            left: 30%;
            top: 88px;
        }
    }

    .button_about2{
        img{
            position: relative;
            left: 60%;
            bottom: 4px;
       }
    }
}