.design-selection {
  font-size: $content;
  .designC {
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .design-card {
      position: relative;
      margin: 20px 0;
      width: 300px;
      height: 400px;
      background: white;
      transform-style: preserve-3d;
      transform: perspective(2000px);
      transition: 1s;
      box-shadow: inset 100px 0 50px rgba(0, 0, 0, 0.5);

      &:hover {
        z-index: 1111;
        transform: perspective(2000px) rotate(-10deg);
        box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);

        .img-container {
          transform: rotateY(-120deg);
        }
      }

      .img-container {
        position: relative;
        background-color: black;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        transform-origin: left;
        z-index: 1;
        transition: 1s;

        img {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .card-details {
        position: absolute;
        left: 0;
        top: 20%;
        box-sizing: border-box;
        padding: 20px;
        color: #000;
        text-align: center;

        h2 {
          margin: 0;
          padding: 0.5em 0;
          text-transform: uppercase;
          font-size: 2em;
          color: $titleColor;
          font-family: $Amaranth;
          text-shadow: 8px 8px 60px $textSadowColor;
        }
      }
    }
  }
}
