.zen-health {
  .health_pic {
    text-align: center;
    width: 100%;
  }
  .button_health {
    position: absolute;
    left: 56%;
    top: 50%;
  }

  .card {
    @include cta-card(-100px, -100vw, 500px, 20);
  }

  .button_health:hover .card_health {
    @include card-translate(100vw, 0);
  }
}
