.participation{
    height: 90vh;
    .participation_pic{
        text-align: center;
    }
    h3{
        width: 30%;
        height: 5vh;
        margin: 0 auto;
        text-align: center;
        background-color: $bodyBgColor;
        @include card-shadow(8px, 8px, 60px);
        @include card-font(24px, $Amaranth, $regular)
    }
    .button_participation1{
        img{
           position:absolute;
           left: 60%;
           bottom: -207%;
       }
   }
   .button_participation2{
        img{
        position:absolute;
        left: 66%;
        bottom: -220%;
        }
    }
    .button_participation3{
        img{
           position:absolute;
           left: 65%;
           bottom: -253%;
       }
    }
    .participation_card1{
        width: 30%;
        left: 55%;
        bottom: -200%;
        @include card-transition;
    }
    .participation_card2{
        width: 30%;
        left: 65%;
        bottom: -240%;
        @include card-transition;
    }
    .participation_card3{
        width: 40%;
        left: 50%;
        @include card-transition;
    }
    .button_participation_top:hover .button_participation1, .button_participation_middle:hover .button_participation2,
    .button_participation_bottom:hover .button_participation3{
        visibility: hidden;
    }
    .button_participation_top:hover .participation_card1{
        @include card-translate(0,100px)
    }
    .button_participation_middle:hover .participation_card2{
        @include card-translate(-150px,0)
    }
    .button_participation_bottom:hover .participation_card3{
        @include card-translate(0px,-250px)
    }
}