/*text color*/
/*background color*/
/* Shadows colors*/
/*body img {
  width: 100%;
  height: auto;
}*/
.card {
  background-color: white;
  padding: 35px 25px;
  box-shadow: 8px 8px 60px rgba(5, 188, 166, 0.13);
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

section {
  height: 90vh;
  position: relative;
  margin: 10vw;
}

.explanation {
  position: relative;
  height: 85vh;
}
.explanation .card1 {
  width: 25%;
  position: absolute;
  opacity: 0;
  bottom: 60%;
  left: -300px;
  transition: transform 0.3s ease-out;
  z-index: 20;
}
.explanation .card2 {
  width: 35%;
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 45%;
  transition: transform 0.3s ease-out;
  z-index: 20;
}
.explanation .about_pic {
  text-align: center;
}
.explanation .button_about1 img {
  position: absolute;
  left: 30%;
  top: 10%;
}
.explanation .button_about2 img {
  position: absolute;
  left: 60%;
  top: 310px;
}
.explanation .button_about_left:hover .card1 {
  opacity: 1;
  transform: translate(410px, 0);
}
.explanation .button_about_left:hover .button_about1,
.explanation .button_about_right:hover .button_about2 {
  visibility: hidden;
}
.explanation .button_about_right:hover .card2 {
  opacity: 1;
  transform: translate(0, -90px);
}

.zen-health .health_pic {
  text-align: center;
  width: 100%;
}
.zen-health .button_health {
  position: absolute;
  left: 56%;
  top: 50%;
}
.zen-health .card {
  width: 500px;
  position: absolute;
  opacity: 0;
  bottom: -100px;
  left: -100vw;
  transition: transform 0.3s ease-out;
  z-index: 20;
}
.zen-health .button_health:hover .card_health {
  opacity: 1;
  transform: translate(100vw, 0);
}

.zen_inro {
  display: grid;
  grid-template-columns: minmax(100px, auto) 1fr;
  grid-template-rows: 0.3fr 1fr;
  gap: 0px 5px;
  grid-template-areas: "title Img" "intro Img";
}
.zen_inro .title {
  grid-area: title;
}
.zen_inro .title h1 {
  margin-left: 4%;
  font-family: "Amaranth", sans-serif;
  font-size: 64px;
  color: #455a64;
  text-shadow: 8px 8px 60px rgba(5, 188, 166, 0.3);
}
.zen_inro .intro {
  grid-area: intro;
  width: 600px;
  height: auto;
}
.zen_inro .intro .contents .downloadLinks {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.zen_inro .intro .contents .downloadLinks a {
  text-decoration: none;
  color: #09f0d4;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.zen_inro .intro .contents .downloadLinks a:hover {
  color: #05BCA6;
}
.zen_inro .intro .contents .downloadLinks a i {
  margin-left: 10px;
}
.zen_inro .Img {
  grid-area: Img;
}

.zen-preamble .Img {
  width: 600px;
  margin: auto;
  text-align: center;
  z-index: 1;
}
.zen-preamble .cta {
  position: absolute;
  bottom: 20vh;
  left: 25vw;
}
.zen-preamble .cta .ctaButton circle {
  stroke-width: 2px;
  stroke-opacity: 1;
}
.zen-preamble .cta .ctaButton .pulse {
  fill: white;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(1);
  }
}
.zen-preamble .cta .card {
  width: 400px;
  position: absolute;
  opacity: 0;
  bottom: 0px;
  left: -1000px;
  transition: transform 0.3s ease-out;
  z-index: 20;
}
.zen-preamble .cta:hover .card {
  opacity: 1;
  transform: translate(800px, 0px);
}

.participation {
  height: 90vh;
}
.participation .participation_pic {
  text-align: center;
}
.participation .button_participation1 img {
  position: absolute;
  left: 65%;
  bottom: 75%;
}
.participation .button_participation2 img {
  position: absolute;
  left: 70%;
  bottom: 58%;
}
.participation .button_participation3 img {
  position: absolute;
  left: 68%;
  bottom: 15%;
}
.participation .participation_card1 {
  width: 30%;
  position: absolute;
  opacity: 0;
  bottom: 80%;
  left: 65%;
  transition: transform 0.3s ease-out;
  z-index: 20;
}
.participation .participation_card2 {
  width: 30%;
  position: absolute;
  opacity: 0;
  bottom: 30%;
  left: 65%;
  transition: transform 0.3s ease-out;
  z-index: 20;
}
.participation .participation_card3 {
  width: 40%;
  position: absolute;
  opacity: 0;
  bottom: -30%;
  left: 50%;
  transition: transform 0.3s ease-out;
  z-index: 20;
}
.participation .button_participation_top:hover .button_participation1, .participation .button_participation_middle:hover .button_participation2,
.participation .button_participation_bottom:hover .button_participation3 {
  visibility: hidden;
}
.participation .button_participation_top:hover .participation_card1 {
  opacity: 1;
  transform: translate(0, 100px);
}
.participation .button_participation_middle:hover .participation_card2 {
  opacity: 1;
  transform: translate(-150px, 0);
}
.participation .button_participation_bottom:hover .participation_card3 {
  opacity: 1;
  transform: translate(0px, -180px);
}

/*# sourceMappingURL=style.css.map */
