/*text color*/
$bodyColor: #000;
$titleColor: #455a64;
$subTitleColor: #000;
$buttonTextColor: #09f0d4;

/*background color*/
$bodyBgColor: #fff;
$buttonBgColor: #09f0d4;

/* Shadows colors*/
$textSadowColor: rgba(5, 188, 166, 0.3);
$mainShadowColor: rgba(5, 188, 166, 0.13);
